[package]
name = "user-service"
version = "0.1.0"
edition = "2021"

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
uuid = { version = "1.3", features = ["v4", "serde"] }
postgres = { version = "0.19", features = ["with-uuid-1"] }